include mixins/mixins.pug
include var.pug

block custom

- let noHeadFoot = (pageFileName !== 'sign-up.html' && pageFileName !== 'sign-in.html')

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		block meta-title
		
		// CSS
		link(rel="shortcut icon" href="assets/images/logo/logo-shape.png")
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap.min.css")
		//- link(rel="stylesheet" type="text/css" href="assets/plugins/metismenu/dist/metisMenu.min.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/remixicon/fonts/remixicon.css")

		link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/photoswipe.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/default-skin/default-skin.css")
		
		- if (pageFileName === 'gallery-detail.html' || pageFileName === 'design-book.html')
			link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick-theme.css")
			link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick.css")

		link(rel="stylesheet" type="text/css" href="assets/plugins/animate.css/animate.min.css")

		block page-script
		link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")

	
	body
		- if (noHeadFoot)
			// Header
			include section/header_2.pug

		- let contentPageClassName = (pageFileName === 'index.html' || pageFileName === 'sign-up.html' || pageFileName === 'sign-in.html') ? 'mt-0 pt-0' : ''
		// Content Page
		.content-page(class=contentPageClassName)
			block content

			- if (noHeadFoot)
				// Footer
				include section/footer_2.pug

		- if (noHeadFoot)
			include layout/modal.pug

		// Javascript
		script(src="assets/plugins/jquery/dist/jquery.min.js")
		script(src="assets/plugins/popper.js/dist/umd/popper.min.js")
		script(src="assets/plugins/bootstrap/dist/js/bootstrap.min.js")

		script(src="assets/plugins/photoswipe/dist/photoswipe.min.js")
		script(src="assets/plugins/photoswipe/dist/photoswipe-ui-default.min.js")

		- if (pageFileName === 'gallery-detail.html' || pageFileName === 'design-book.html')
			script(src="assets/plugins/slick-carousel/slick/slick.min.js")
		//- script(src="assets/plugins/wowjs/dist/wow.min.js")
		//- script(src="assets/plugins/metismenu/dist/metisMenu.min.js")
		block page-script

		script(src="assets/js/style.min.js")
		script.
			// On load
			const theme = new Theme();
			document.addEventListener('DOMContentLoaded', (event)=> {
				// $(".page-loader").fadeOut(400, ()=> $(".page-loader").remove());

				theme.init();

				window.onresize = (event)=> {
					theme.navigationCofig();
				};
			});
		block script